<a href="https://colab.research.google.com/github/zeerau/TDI_Projects/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Employee:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.__salary = salary  # Private attribute

    # Getter for salary
    def get_salary(self):
        return self.__salary

    # Setter for salary
    def set_salary(self, salary):
        self.__salary = salary

    # Method to display employee details
    def display_details(self):
        return f"Name: {self.name}, Age: {self.age}, Salary: {self.__salary}"

In [ ]:
class Manager(Employee):
    def __init__(self, name, age, salary, departments):
        super().__init__(name, age, salary)
        self.departments = departments  # List of departments managed

    def display_details(self):
        return f"Name: {self.name}, Age: {self.age}, Salary: {self.get_salary()}, Departments: {', '.join(self.departments)}"

class Intern(Employee):
    def __init__(self, name, age, salary, mentor):
        super().__init__(name, age, salary)
        self.mentor = mentor  # Mentor's name

    def display_details(self):
        return f"Name: {self.name}, Age: {self.age}, Salary: {self.get_salary()}, Mentor: {self.mentor}"

In [ ]:
import csv

def read_csv(file_path, num_rows=20):
    data = []
    with open(file_path, mode='r') as file:
        reader = csv.DictReader(file)
        for i, row in enumerate(reader):
            if i >= num_rows:
                break
            data.append(row)
    return data
read_csv('/content/Employees-Dataset01.csv')

[{'Name': 'John Doe',
  'Age': '28',
  'Salary': '5000000',
  'Department': 'Engineering'},
 {'Name': 'Jane Smith',
  'Age': '32',
  'Salary': '5500000',
  'Department': 'Marketing'},
 {'Name': 'Emily Johnson',
  'Age': '45',
  'Salary': '7000000',
  'Department': 'Finance'},
 {'Name': 'Michael Brown',
  'Age': '30',
  'Salary': '6000000',
  'Department': 'Engineering'},
 {'Name': 'Linda Davis',
  'Age': '27',
  'Salary': '4800000',
  'Department': 'Sales'},
 {'Name': 'James Wilson',
  'Age': '40',
  'Salary': '7200000',
  'Department': 'Finance'},
 {'Name': 'Mary Moore',
  'Age': '35',
  'Salary': '6200000',
  'Department': 'Engineering'},
 {'Name': 'David Taylor',
  'Age': '50',
  'Salary': '7500000',
  'Department': 'Marketing'},
 {'Name': 'Laura Anderson',
  'Age': '29',
  'Salary': '5100000',
  'Department': 'Sales'},
 {'Name': 'Chris Thomas',
  'Age': '42',
  'Salary': '6800000',
  'Department': 'Engineering'},
 {'Name': 'Patricia Jackson',
  'Age': '33',
  'Salary': '5900000',
  'Department': 'Marketing'},
 {'Name': 'Robert Harris',
  'Age': '37',
  'Salary': '6400000',
  'Department': 'Finance'},
 {'Name': 'Jennifer Martin',
  'Age': '26',
  'Salary': '4700000',
  'Department': 'Sales'},
 {'Name': 'William Lewis',
  'Age': '31',
  'Salary': '5300000',
  'Department': 'Engineering'},
 {'Name': 'Barbara Walker',
  'Age': '34',
  'Salary': '6100000',
  'Department': 'Marketing'},
 {'Name': 'Daniel Hall',
  'Age': '38',
  'Salary': '6500000',
  'Department': 'Finance'},
 {'Name': 'Elizabeth Young',
  'Age': '39',
  'Salary': '6700000',
  'Department': 'Sales'},
 {'Name': 'Joseph Allen',
  'Age': '25',
  'Salary': '4500000',
  'Department': 'Engineering'},
 {'Name': 'Sarah King',
  'Age': '44',
  'Salary': '6900000',
  'Department': 'Marketing'},
 {'Name': 'Charles Scott',
  'Age': '30',
  'Salary': '6000000',
  'Department': 'Sales'}]

In [ ]:
data.head()