In [152]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\DELL\TDI_Projects\Data Cleaning\week9\wine-raitngs.csv')
df.head(4)

,name,region,variety,rating,notes
0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,"Mendocino, California",Red Wine,91,"This is a very special, limited release of 100..."
1,1000 Stories Bourbon Barrel Aged Gold Rush Red...,California,Red Wine,89,The California Gold Rush was a period of coura...
2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,California,Red Wine,90,The California Gold Rush was a period of coura...
3,1000 Stories Bourbon Barrel Aged Zinfandel 2013,"North Coast, California",Red Wine,91,"The wine has a deep, rich purple color. An int..."

In [153]:
print(df.info())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32980 entries, 0 to 32979
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     32980 non-null  object
 1   region   32977 non-null  object
 2   variety  32621 non-null  object
 3   rating   32980 non-null  int64
 4   notes    32980 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.3+ MB
None
(32980, 5)

In [154]:
# 1.Identify and remove any duplicate rows and missing values from the global wine quality dataset. 
# Store the cleaned dataset in a new dataframe named non_dm_data.

print(df.isna().sum())
df.drop_duplicates()
df.dropna(axis=0,inplace=True)
non_dm_data = df
non_dm_data.isna().sum()

name         0
region       3
variety    359
rating       0
notes        0
dtype: int64

name       0
region     0
variety    0
rating     0
notes      0
dtype: int64

In [155]:
non_dm_data['region'].value_counts()

region
Napa Valley, California                                    2938
Sonoma County, California                                  1175
Columbia Valley, Washington                                1089
Willamette Valley, Oregon                                   956
Chateauneuf-du-Pape, Rhone, France                          815
                                                           ...
Elgin, South Africa                                           1
Banyuls, Roussillon, South of France, France                  1
Redwood Valley, Mendocino, California                         1
Nemea, Greece                                                 1
Terrasses du Larzac, Languedoc, South of France, France       1
Name: count, Length: 402, dtype: int64

In [156]:
non_dm_data['region']=non_dm_data['region'].str.replace('California','United State')
non_dm_data['region']=non_dm_data['region'].str.replace('Washington','United State')
non_dm_data['region']=non_dm_data['region'].str.replace('Oregon','United State')
non_dm_data['region']=non_dm_data['region'].str.replace('Other U.S.','United State')
non_dm_data['region']=non_dm_data['region'].str.replace('Argentina','South America')
non_dm_data['region']=non_dm_data['region'].str.replace('Chile','South America')
non_dm_data['region']=non_dm_data['region'].str.replace('Uruguay','South America')

In [157]:
non_dm_data['region'] = non_dm_data['region'].str.strip().str.split(',').str.get(-1)

non_dm_data['region'].value_counts()

region
 United State     12753
 France            7841
 Italy             3827
 Australia         1428
 Spain             1211
South America      1077
United State        727
 South America      676
Spain               578
 New Zealand        472
South Africa        362
 Germany            309
Italy               264
Australia           235
Portugal            155
New Zealand         113
 Portugal            96
 South Africa        94
Greece               84
France               76
 Austria             70
 Greece              41
Austria              38
Israel               30
Germany              15
England              14
Canada               12
Lebanon               8
Hungary               7
Mexico                2
Turkey                2
China                 1
Switzerland           1
Slovenia              1
Name: count, dtype: int64

In [158]:
non_dm_data['region'].unique()

array([' United State', 'United State', ' Spain', ' South America',
       'South America', 'Australia', ' Australia', ' New Zealand',
       'Spain', ' Germany', 'Italy', ' France', 'Portugal', ' Italy',
       'Greece', 'South Africa', 'New Zealand', ' Austria', 'Austria',
       ' Portugal', ' South Africa', 'China', ' Greece', 'Israel',
       'Germany', 'England', 'France', 'Mexico', 'Lebanon', 'Hungary',
       'Switzerland', 'Canada', 'Slovenia', 'Turkey'], dtype=object)

In [159]:
# 3.Create a table showing the percentage distribution of wine varieties, rounded to one decimal place.

non_dm_data['variety'].value_counts(normalize= True).round(1) * 100

variety
Red Wine                 70.0
White Wine               20.0
Sparkling & Champagne     0.0
Pink and Rosé             0.0
Collectible               0.0
Green Wine                0.0
Boutique                  0.0
Screw Cap                 0.0
Name: proportion, dtype: float64

4.Based on wine ratings, classify the wines into the following categories:

 'Good' for ratings between 85-89

'Outstanding' for ratings between 90-94

'Exceptional' for ratings between 95-100

Create a new column named "wine_quality" to store these categories.

In [160]:
conditions = [
    (non_dm_data['rating']>= 85) &(non_dm_data['rating'] <=89),
    (non_dm_data['rating']>= 90) &(non_dm_data['rating'] <=94),
    (non_dm_data['rating']>= 95) &(non_dm_data['rating'] <=100)
]

values = ['Good','Outstanding','Exceptional']

non_dm_data['wine_quality'] = np.select(conditions,values)

In [161]:
non_dm_data.head(3)

,name,region,variety,rating,notes,wine_quality
0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,United State,Red Wine,91,"This is a very special, limited release of 100...",Outstanding
1,1000 Stories Bourbon Barrel Aged Gold Rush Red...,United State,Red Wine,89,The California Gold Rush was a period of coura...,Good
2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,United State,Red Wine,90,The California Gold Rush was a period of coura...,Outstanding

In [162]:
# 1.Convert all text to lowercase for uniformity.

non_dm_data['name']= non_dm_data['name'].str.lower()
non_dm_data['notes']= non_dm_data['notes'].str.lower()

In [163]:
non_dm_data.head(3)

,name,region,variety,rating,notes,wine_quality
0,1000 stories bourbon barrel aged batch blue ca...,United State,Red Wine,91,"this is a very special, limited release of 100...",Outstanding
1,1000 stories bourbon barrel aged gold rush red...,United State,Red Wine,89,the california gold rush was a period of coura...,Good
2,1000 stories bourbon barrel aged gold rush red...,United State,Red Wine,90,the california gold rush was a period of coura...,Outstanding

In [164]:
non_dm_data.dtypes

name            object
region          object
variety         object
rating           int64
notes           object
wine_quality    object
dtype: object

In [165]:
# Remove numbers that do not contribute to meaningful analysis.
import re
non_dm_data['name'] = non_dm_data['name'].str.replace(r'\d+', '', regex=True)

non_dm_data['name']

0         stories bourbon barrel aged batch blue carignan
1               stories bourbon barrel aged gold rush red
2               stories bourbon barrel aged gold rush red
3                   stories bourbon barrel aged zinfandel
4                   stories bourbon barrel aged zinfandel
                               ...
32975                                    byron chardonnay
32976                               booker vineyard white
32977    keenan napa valley cabernet sauvignon (ml half...
32978                               hearst ranch randolph
32979     concha y toro marques de casa concha chardonnay
Name: name, Length: 32620, dtype: object

In [166]:
# 3.Eliminate punctuation marks to simplify the text.
non_dm_data['name'] = non_dm_data['name'].str.replace(r'[^\w\s]', '', regex=True)
non_dm_data['notes'] = non_dm_data['notes'].str.replace(r'[^\w\s]', '', regex=True)

In [167]:
non_dm_data['notes']

0        this is a very special limited release of 1000...
1        the california gold rush was a period of coura...
2        the california gold rush was a period of coura...
3        the wine has a deep rich purple color an inten...
4        batch 004 is the first release of the 2014 vin...
                               ...
32975    staying true to the consistent nature of chard...
32976    the wine starts with honeysuckle and dried pea...
32977    the 2010 cabernet sauvignon is composed primar...
32978    the 2015 randolph is a stunning wine as versat...
32979    light yellow in the glass combining richness w...
Name: notes, Length: 32620, dtype: object